* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1 {
    text-align: center;
}

.inputs-row {
    margin: 10px;
    text-align: center;
}

.array-container {
    margin: auto;
    width: 95vw;
    display: flex;
    align-items: flex-end; 
    border: 2px solid black; 
    padding-top: 30px;
    justify-content: space-around;
    
}

.array-element{
    background-color: blue;
    color: white;
    text-align: center;
}

.speed-button{
  padding: 5px 10px;
}

#sort-btn {
  width: 74%;
}

#stop-btn {
  width: 25%;
}

/* .container {
  padding-top: 20px;
} */